<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" colors="true">
    
    <testsuite name="all-tests">
        <directory>./library</directory>
    </testsuite>
    
    <testsuite name="travis-ci">
        <directory>./library</directory>
        <exclude>./library/Fa/Service/FlickrServiceTest.php</exclude>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../library</directory>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" 
             target="./log/report" 
             charset="UTF-8" 
             yui="true" 
             highlight="true" 
             lowUpperBound="40"
             highLowerBound="70" />
        <log type="testdox-html" target="./log/testdox.html" />
    </logging>
    
</phpunit>
