{% extends 'layout.html' %}

{% block page_title %}{{ parent() }} | Admin{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Project Photos</h2>
        <table class="admin table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>&nbsp;</th><th>Day</th><th>Photo Id</th><th>Posted</th><th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for image in paginator %}
                <tr>
                    <td class="text-center"><a href="/day/{{ image.day }}"><img class="img-responsive img-thumbnail" src="{{ image.sizes['Square'].source }}" width="{{ image.sizes['Square'].width }}" height="{{ image.sizes['Square'].height }}" /></a></td>
                    <td>{{image.day}}</td>
                    <td>{{image.photoId}}</td>
                    <td>{{image.posted|date("m/d/Y")}}</td>
                    <td>
                        <form action="/admin/photo/{{image.day}}" method="post">
                            <input type="hidden" name="_METHOD" value="DELETE" />
                            <button class="btn btn-danger btn-xs" type="submit">
                                <span class="glyphicon glyphicon-trash"></span> Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if pages.pageCount %}
<div class="text-center">
    <ul class="pagination">
        <li{% if pages.previous is not defined %} class="disabled"{% endif %}>
            {% if pages.previous is not defined %}
            <span>Prev</span>
            {% else %}
            <a id="previous-day" href="{{ baseUrl() }}/admin/page/{{ pages.previous }}">Prev</a>
            {% endif %}
        </li>

        {% for page in pages.pagesInRange %}
        <li{% if page == pages.current %} class="active"{% endif %}><a href="{{ baseUrl() }}/admin/page/{{ page }}">{{ page }}</a></li>
        {% endfor %}

        <li{% if pages.next is not defined %} class="disabled"{% endif %}>
            {% if pages.next is not defined %}
            <span>Next</span>
            {% else %}
            <a id="next-day" href="{{ baseUrl() }}/admin/page/{{ pages.next }}">Next</a>
            {% endif %}
        </li>
    </ul>
</div>
{% endif %}
{% endblock %}
