{% extends 'layout.html' %}

{% block meta %}

{% if tags|length > 0 %}
{% include "includes/meta-tags.html" %}
{% endif %}

{% endblock %}

{% block page_title %}{{ parent() }} | Day {{ image.day }}{% endblock %}

{% block content %}
<div class="row">
    <div class="day-photo text-center col-md-12">
        <p class="lead"><em>{{ image.posted|date("d F Y") }}, Day {{ image.day }}</em></p>
        <a href="http://flickr.com/photos/{{ profile.flickr_username }}/{{ image.photo_id }}/lightbox" target="_blank" title="View on Flickr">
            <img class="img-responsive img-thumbnail" src="{{ image.sizes.size.7.source }}" />
        </a>
    </div>
    <div class="photo-meta col-md-12">
        <h3>{{ image.photo.title._content }}</h3>
        <p>{{ image.photo.description._content|raw }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_16x16_style" style="padding-top:15px;">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_tumblr"></a>
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <!-- AddThis Button END -->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="pager">
            <li class="previous">
                {% if previous != 0 %}
                <a id="previous-day" href="{{ baseUrl() }}/day/{{ previous }}">&larr; Older</a>
                {% endif %}
            </li>
            <li class="next">
                {% if next != 0 %}
                <a id="next-day" href="{{ baseUrl() }}/day/{{ next }}">Newer &rarr;</a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/jquery.hotkeys.js"></script>
<script type="text/javascript">
    $(function () {
        $(document).bind('keydown', 'left', function() {
            var prev = $("#previous-day");
            if (prev.length) {
                location.href = prev.attr('href');
            }
        });

        $(document).bind('keydown', 'right', function() {
            var next = $("#next-day");
            if (next.length) {
                location.href = next.attr('href');
            }
        });
    });
</script>
<!-- AddThis Button BEGIN -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-522116d11ed7bf53"></script>
<!-- AddThis Button END -->
{% endblock %}
