{% extends 'layout.html' %}

{% block content %}
{% for image in paginator %}
<div class="row photo">
    <div class="col-md-3 col-sm-3">
        <p class="text-right text-muted">
            <em><a href="/day/{{ image.day }}">{{ image.posted|date("d F Y") }}</a></em><br>
            <em>Day {{ image.day }}</em>
        </p>
    </div>
    <div class="col-md-9 col-sm-9 text-center">
        <a href="/day/{{ image.day }}"><img src="{{ image.sizes.size.6.source }}" class="img-responsive img-thumbnail text-center" /></a>
    </div>
</div>
{% else %}
<p>No images in project</p>
{% endfor %}

{% if pages.pageCount %}
<div class="text-center">
    <ul class="pagination">
        <li{% if pages.previous == false %} class="disabled"{% endif %}>
            {% if pages.previous == false %}
            <span>Prev</span>
            {% else %}
            <a href="{{ baseUrl() }}/page/{{ pages.previous }}">Prev</a>
            {% endif %}
        </li>

        {% for page in pages.pagesInRange %}
        <li{% if page == pages.current %} class="active"{% endif %}><a href="{{ baseUrl() }}/page/{{ page }}">{{ page }}</a></li>
        {% endfor %}

        <li{% if pages.next == false %} class="disabled"{% endif %}>
            {% if pages.next == false %}
            <span>Next</span>
            {% else %}
            <a href="{{ baseUrl() }}/page/{{ pages.next }}">Next</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}
