{% extends 'layout.html' %}

{% block page_title %}{{ parent() }} | Login{% endblock %}

{% block content %}
<div class="row">
    <div class="span4">
        <h2>Login</h2>
        {% if flash.error %}
        <p style="color: red;">{{flash.error}}</p>
        {% endif %}
        <form name="login" id="login" class="well" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" value="{{ email }}" required/>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required/>
            <br />
            <button class="btn">Log in</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        $("#email").focus();
    }
);
</script>
{% endblock %}
