{% extends 'layout.html' %}

{% block page_title %}{{ parent() }} | Login{% endblock %}

{% block stylesheets %}
<link href="/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% if flash['joinSuccess'] is defined %}
<div class="alert alert-success form-signin">
    {{ flash['joinSuccess'] }}
</div>       
{% endif %}
<form class="form-signin well well-sm" role="form" name="login" id="login" method="post">
    <h2 class="form-signin-heading">Please log in</h2>
    {% if flash['error'] is defined %}
    <div class="alert alert-danger">
        {{ flash.error }}
    </div>
    {% endif %}
    <input type="email" name="email" class="form-control" placeholder="Email address" value="{{ email }}" autofocus required>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>
{% endblock %}
