{% extends 'layout.html' %}

{% block page_title %}{{ parent() }} | Login{% endblock %}

{% block content %}
<div class="row">
    <div class="span4">
        <h2>Setup</h2>
        {% if flash.error %}
        <p style="color: red;">{{flash.error}}</p>
        {% endif %}
        {% form_theme form 'form/fields.html.twig' %}
        <form name="setup" id="setup" class="well" method="post" {{ form_enctype(form) }} novalidate>
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.passwordHash) }}
            {{ form_row(form.flickrUsername) }}
            {{ form_row(form.flickrApiKey) }}
            {{ form_row(form.externalUrl) }}
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    <div class="span4">
        <h2>Setup</h2>
        <p>Set up yo app.</p>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        $("#user_firstName").focus();
    }
);
</script>
{% endblock %}
