{% extends 'layout.html' %}

{% block page_title %}365.jeremykendall.net | Setup{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h2>Setup</h2>
        {% if flash.error %}
        <p style="color: red;">{{flash.error}}</p>
        {% endif %}
        <form name="setup" id="setup" class="well" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
            
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />

            <label for="flickr_api_key">Flickr API Key</label>
            <input type="text" name="flickr_api_key" id="flickr_api_key" />
            
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" />
            <br />
            <button class="btn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
